/*
Porterra # application.css
@author         : @doot0 // @mattarnster
@license        : MIT License
@description    : Core files for Porterra which are used everywhere */

/*RESET :: normalize.css v2.0.1 | MIT License | git.io/normalize*/ article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:sans-serif}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:\201C \201D \2018 \2019}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}body,figure{margin:0}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

/*RESET :: Porterra*/
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    line-height: 150%;
}

a{
    text-decoration: none;
    color:inherit;
}

/*APPLICATION :: Porterra*/
::selection{ background-color: rgba(70, 176, 185, 0.29); color: white; }
::moz-selection{ background-color: rgba(70, 176, 185, 0.29); color: white; }
::webkit-selection{ background-color: rgba(70, 176, 185, 0.29); color: white;  }

body{
    font-family: "Raleway", Arial, sans-serif;
    line-height: 150%;
    background: url(../img/landingbg.jpg);
    color:#eee;
    text-shadow: 0 1px 1px #222;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
}


hr{
    outline:0;
    border:1px inset rgba(30,30,30,.3);
}

nav{
    height:45px;
    line-height: 45px;
    background: #111 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMS8xMC8xMr51lZcAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAJElEQVQImWNQUlL6z8TAwMDA9P//fwYIC42LU4JYdRQbQIE6AK5uNIuyu5ZrAAAAAElFTkSuQmCC);
    padding:0 10px;
}

nav .brand{
    border-right:1px inset #222;
    float: left;
    color:rgba(200,200,200,.8);
    display: block;
    padding-right: 10px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(200,200,200,.5);
    cursor: pointer;
    font-family: Arial;
}

nav .brand:hover{
    color:rgba(220,220,220,1);
    text-shadow: 0 0 5px rgba(200,200,200,.9);
}

.container{
    padding-top:10px;
}

/*UI :: Porterra*/ /*I am going to use some fucking box shadow whether you like it or not.*/
form{
    background:rgba(20,20,20,.7);
    padding: 25px;
    margin:20px 0;
    border:1px solid rgba(20,20,20,.9);
    box-shadow: inset 0 1px 3px rgba(20,20,20,.9), 0 1px 3px rgba(220,220,220,.3);
    display: inline-block;
    border-radius:3px;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

form:hover{
    background:rgba(20,20,20,.8);
}

form .form-title{
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px inset rgba(230,230,230,.1);
}

form input{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-apperance:none;
    -o-apperance:none;
    appearance: none;
    border: 0;
    background:none;
    padding:3px;
    height:26px;
}

form input[disabled="disabled"]{
    background-color: rgba(0,0,0,.1)!important;
    pointer-events:none;
    cursor: wait;
}

form input[disabled="disabled"]:active{
    box-shadow: 0 0 3px rgba(200,20,20,.6)!important;
    background-color: rgba(200,20,20,.25)!important;
}

form input.input-error{
    background-color: rgba(200,20,20,.25)!important;
}

form label{
    cursor: pointer;
}

form input{
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
    border-radius: 2px;
}

form input[type='text']{
    background:rgba(0,0,0,.4);
    color:#eee;
    position: relative;
}

form input[type='text']:hover{
    background:rgba(0,0,0,.6);
}

form input[type='text'], form input[type="button"]{
    background:rgba(0,0,0,.2);
    height: 32px;
    color:#eee;
    padding:0 10px;
}

form input[type='text']:hover, form input[type="button"]:hover{
    background:rgba(0,0,0,.6);
}

form input[type='text']:active, form input[type="button"]:active{
    background:rgba(120,120,120,.3);
    box-shadow: 0 0 2px rgba(200,200,200,.6);
    -webkit-transition:.1s;
    -moz-transition:.1s;
    -ms-transition:.1s;
    -o-transition:.1s;
    transition:.1s;
}

form .feedback{
    height:0px;
}

/*:: UTILS*/
.debug-element{
    position: absolute;
    top:0;
    left:0;
    height:100px;
    width:auto;
    background: #333;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #eee;
}

/*:: SPRITES*/
i.sprite{

}

/*:: Arrows */
.arrowset-down, .arrowset-up, .arrowset-right, .arrowset-left, .arrowset-loop, .arrowset-repeat{
    background: url(../img/sprites/arrowset.png) no-repeat;
}

.arrowset-down{
    background-position: 0 0;
    width: 32px;
    height: 32px;
}

.arrowset-up{
    background-position: -32px 0;
    width: 32px;
    height: 32px;
}

.arrowset-right{
    background-position: -64px 0;
    width: 32px;
    height: 32px;
}

.arrowset-left{
    background-position: -96px 0;
    width: 32px;
    height: 32px;
}

.arrowset-loop{
    background-position: -128px 0;
    width: 32px;
    height: 32px;
}

.arrowset-repeat{
    background-position: -160px 0;
    width: 32px;
    height: 32px;
}

@media only screen and (min-width:320px) and (max-width:479px){
    form input{
        margin: 5px 0;
    }

    form input[type="button"]{
        width: 100%;
    }

}

/*:: FONTS | Font-face declarations must always go at the bottom.*/
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway.eot');
    src: url('fonts/raleway.eot?iefix') format('eot'),
         url('fonts/raleway.woff') format('woff'),
         url('fonts/raleway.ttf') format('truetype'),
         url('fonts/raleway.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
}