.container .columns{box-sizing: border-box;}
.container .sixteen.columns.fullwidth{ width: 100%; margin-left: 0; margin-right: 0;}

@media only screen and (min-width: 1680px) and (max-width:2559px){
    .container                                  { position: relative; width: 1680px; margin: 0 auto; padding: 0; }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .columns.alpha                              { margin-left: 0; }
    .columns.omega                              { margin-right: 0; }
    .row                                        { margin-bottom: 20px; }

    .container .one.columns                     { width: 85px;  }
    .container .two.columns                     { width: 190px; }
    .container .three.columns                   { width: 295px; }
    .container .four.columns                    { width: 400px; }
    .container .five.columns                    { width: 505px; }
    .container .six.columns                     { width: 610px; }
    .container .seven.columns                   { width: 715px; }
    .container .eight.columns                   { width: 820px; }
    .container .nine.columns                    { width: 925px; }
    .container .ten.columns                     { width: 1030px; }
    .container .eleven.columns                  { width: 1135px; }
    .container .twelve.columns                  { width: 1240px; }
    .container .thirteen.columns                { width: 1345px; }
    .container .fourteen.columns                { width: 1450px; }
    .container .fifteen.columns                 { width: 1555px; }
    .container .sixteen.columns                 { width: 1660px; }

    .container .one-third.columns               { width: 540px; }
    .container .two-thirds.columns              { width: 1100px; }

    .container .offset-by-one                   { padding-left: 105px;  }
    .container .offset-by-two                   { padding-left: 210px; }
    .container .offset-by-three                 { padding-left: 315px; }
    .container .offset-by-four                  { padding-left: 420px; }
    .container .offset-by-five                  { padding-left: 525px; }
    .container .offset-by-six                   { padding-left: 630px; }
    .container .offset-by-seven                 { padding-left: 735px; }
    .container .offset-by-eight                 { padding-left: 840px; }
    .container .offset-by-nine                  { padding-left: 945px; }
    .container .offset-by-ten                   { padding-left: 1050px; }
    .container .offset-by-eleven                { padding-left: 1155px; }
    .container .offset-by-twelve                { padding-left: 1260px; }
    .container .offset-by-thirteen              { padding-left: 1365px; }
    .container .offset-by-fourteen              { padding-left: 1470px; }
    .container .offset-by-fifteen               { padding-left: 1575px; }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
    .container                                  { position: relative; width: 1280px; margin: 0 auto; padding: 0; }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .columns.alpha                              { margin-left: 0; }
    .columns.omega                              { margin-right: 0; }
    .row                                        { margin-bottom: 20px; }

    .container .one.columns                     { width: 60px;  }
    .container .two.columns                     { width: 140px; }
    .container .three.columns                   { width: 220px; }
    .container .four.columns                    { width: 300px; }
    .container .five.columns                    { width: 380px; }
    .container .six.columns                     { width: 460px; }
    .container .seven.columns                   { width: 540px; }
    .container .eight.columns                   { width: 620px; }
    .container .nine.columns                    { width: 700px; }
    .container .ten.columns                     { width: 780px; }
    .container .eleven.columns                  { width: 860px; }
    .container .twelve.columns                  { width: 940px; }
    .container .thirteen.columns                { width: 1020px; }
    .container .fourteen.columns                { width: 1100px; }
    .container .fifteen.columns                 { width: 1180px; }
    .container .sixteen.columns                 { width: 1260px; }

    .container .one-third.columns               { width: 406px; }
    .container .two-thirds.columns              { width: 834px; }

    .container .offset-by-one                   { padding-left: 80px;  }
    .container .offset-by-two                   { padding-left: 160px; }
    .container .offset-by-three                 { padding-left: 240px; }
    .container .offset-by-four                  { padding-left: 320px; }
    .container .offset-by-five                  { padding-left: 400px; }
    .container .offset-by-six                   { padding-left: 480px; }
    .container .offset-by-seven                 { padding-left: 560px; }
    .container .offset-by-eight                 { padding-left: 640px; }
    .container .offset-by-nine                  { padding-left: 720px; }
    .container .offset-by-ten                   { padding-left: 800px; }
    .container .offset-by-eleven                { padding-left: 880px; }
    .container .offset-by-twelve                { padding-left: 960px; }
    .container .offset-by-thirteen              { padding-left: 1040px; }
    .container .offset-by-fourteen              { padding-left: 1120px; }
    .container .offset-by-fifteen               { padding-left: 1200px; }
}


@media only screen and (min-width: 960px) and (max-width: 1279px) {
    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }
    .columns.alpha                              { margin-left: 0; }
    .columns.omega                              { margin-right: 0; }

    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.columns               { width: 300px; }
    .container .two-thirds.columns              { width: 620px; }

    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

}

/*@TODO: Bring gutter width down to 5 pixels on each side and not 10*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container                                  { position: relative; width: 768px; margin: 0 auto; padding:0 }
    .container .columns                         { float: left; display: inline; margin-left: 5px; margin-right: 5px;  }
    .columns.alpha                              { margin-left: 0; margin-right: 5px; }
    .columns.omega                              { margin-right: 0; margin-left: 5px; }

    .container .one.columns                     { width: 38px; }
    .container .two.columns                     { width: 86px; }
    .container .three.columns                   { width: 134px; }
    .container .four.columns                    { width: 182px; }
    .container .five.columns                    { width: 230px; }
    .container .six.columns                     { width: 278px; }
    .container .seven.columns                   { width: 326px; }
    .container .eight.columns                   { width: 374px; }
    .container .nine.columns                    { width: 422px; }
    .container .ten.columns                     { width: 470px; }
    .container .eleven.columns                  { width: 518px; }
    .container .twelve.columns                  { width: 566px; }
    .container .thirteen.columns                { width: 614px; }
    .container .fourteen.columns                { width: 662px; }
    .container .fifteen.columns                 { width: 710px; }
    .container .sixteen.columns                 { width: 758px; }

    .container .one-third.columns               { width: 246px; }
    .container .two-thirds.columns              { width: 502px; }

    .container .offset-by-one                   { padding-left: 48px; }
    .container .offset-by-two                   { padding-left: 96px; }
    .container .offset-by-three                 { padding-left: 144px; }
    .container .offset-by-four                  { padding-left: 192px; }
    .container .offset-by-five                  { padding-left: 240px; }
    .container .offset-by-six                   { padding-left: 288px; }
    .container .offset-by-seven                 { padding-left: 336px; }
    .container .offset-by-eight                 { padding-left: 384px; }
    .container .offset-by-nine                  { padding-left: 432px; }
    .container .offset-by-ten                   { padding-left: 480px; }
    .container .offset-by-eleven                { padding-left: 528px; }
    .container .offset-by-twelve                { padding-left: 576px; }
    .container .offset-by-thirteen              { padding-left: 624px; }
    .container .offset-by-fourteen              { padding-left: 672px; }
    .container .offset-by-fifteen               { padding-left: 720px; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container                                  { position: relative; width: 480px; margin: 0 auto; padding:0 }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px;  }

    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.columns,
    .container .two-thirds.columns { width: 460px; }
}

@media only screen and (min-width:320px) and (max-width:479px){
    .container                                  { position: relative; width: 320px; margin: 0 auto; padding:0 }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px;  }

    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.columns,
    .container .two-thirds.columns { width: 300px; }
}

@media only screen and (max-width:319px){
    .container                                  {position: relative; width:100%;margin: 0 5px;padding: 0;}
}

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,.clearfix {
    zoom: 1; }
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}