.verticalGradient(@startColor, @endColor){
  background-color:mix(@startColor, @endColor, 50%);
  background-image:-moz-linear-gradient(@startColor ,@endColor);
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, @startColor),color-stop(1, @endColor));
  background-image:-webkit-linear-gradient(-90deg,@startColor 0%,@endColor 100%);
  background-image:-o-linear-gradient(-90deg,@startColor 0%,@endColor 100%);
  background-image:-ms-linear-gradient(-90deg,@startColor 0%,@endColor 100%);
  background-image:linear-gradient(to bottom, @startColor, @endColor);
}