article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: 700;
}
mark {
  background: rgba(255, 255, 0, 0.6);
  color: #111111;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
menu {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
html {
  overflow-y: scroll;
}
img,
embed,
object,
video {
  max-width: 100%;
}
body {
  color: #222;
  font-family: 'Proxima Nova Rg', 'Myriad Pro' 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
  background: url(../../img/background.jpg);
}
.button {
  background-color: #555555;
  background-image: -moz-linear-gradient(#79796a, #313140);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #79796a), color-stop(1, #313140));
  background-image: -webkit-linear-gradient(-90deg, #79796a 0%, #313140 100%);
  background-image: -o-linear-gradient(-90deg, #79796a 0%, #313140 100%);
  background-image: -ms-linear-gradient(-90deg, #79796a 0%, #313140 100%);
  background-image: linear-gradient(to bottom, #79796a, #313140);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  -ms-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.65);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 1em;
  line-height: 50px;
  padding: 0 20px;
  color: #f7f8f9;
  margin: 10px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  max-height: 50px;
  overflow: hidden;
}
.button .icon {
  height: 100%;
  width: 30px;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  margin-left: -10px;
  border-right: 1px solid rgba(20, 20, 20, 0.4);
}
.button .icon img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
.button.disabled {
  background-color: #30302d;
  background-image: -moz-linear-gradient(#505046, #101015);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #505046), color-stop(1, #101015));
  background-image: -webkit-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -o-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -ms-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: linear-gradient(to bottom, #505046, #101015);
  color: rgba(247, 248, 249, 0.35);
}
.button.disabled img {
  opacity: .5;
}
.button:hover {
  background-color: #616162;
  background-image: -moz-linear-gradient(#878776, #3c3c4e);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #878776), color-stop(1, #3c3c4e));
  background-image: -webkit-linear-gradient(-90deg, #878776 0%, #3c3c4e 100%);
  background-image: -o-linear-gradient(-90deg, #878776 0%, #3c3c4e 100%);
  background-image: -ms-linear-gradient(-90deg, #878776 0%, #3c3c4e 100%);
  background-image: linear-gradient(to bottom, #878776, #3c3c4e);
}
.button.disabled:hover {
  background-color: #30302d;
  background-image: -moz-linear-gradient(#505046, #101015);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #505046), color-stop(1, #101015));
  background-image: -webkit-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -o-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -ms-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: linear-gradient(to bottom, #505046, #101015);
  cursor: not-allowed;
}
.button:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  -ms-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  -o-box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.8);
  -webkit-transition: 0.075s;
  -moz-transition: 0.075s;
  -ms-transition: 0.075s;
  -o-transition: 0.075s;
  transition: 0.075s;
}
.button.disabled:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.1);
  -moz-box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.1);
  -ms-box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.1);
  -o-box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.1);
  box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.1);
}
.button:active {
  background-color: #444444;
  background-image: -moz-linear-gradient(#20202f, #686859);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #20202f), color-stop(1, #686859));
  background-image: -webkit-linear-gradient(-90deg, #20202f 0%, #686859 100%);
  background-image: -o-linear-gradient(-90deg, #20202f 0%, #686859 100%);
  background-image: -ms-linear-gradient(-90deg, #20202f 0%, #686859 100%);
  background-image: linear-gradient(to bottom, #20202f, #686859);
}
.button.disabled:active {
  background-color: #30302d;
  background-image: -moz-linear-gradient(#505046, #101015);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #505046), color-stop(1, #101015));
  background-image: -webkit-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -o-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: -ms-linear-gradient(-90deg, #505046 0%, #101015 100%);
  background-image: linear-gradient(to bottom, #505046, #101015);
}
