@import '../utils/reset.less';
@import 'theme.less';
@import '../utils/border-radius.less';
@import '../utils/box-shadow.less';
@import '../utils/vertical-gradient.less';
@import '../utils/transition.less';

@fontColor : #F7F8F9;

.button{
  .verticalGradient(#79796A, #313140);
  .borderRadius(5px);
  .boxShadow( inset 0 0 4px rgba(0,0,0,.65) );
  .transition(.2s);
  font-size: 1em;
  line-height:50px;
  padding:0 20px;
  color:@fontColor;
  margin:10px;
  cursor: pointer;
  font-family:'Arial', sans-serif;
  max-height:50px;
  overflow:hidden;

  .icon{
    height:100%;
    width: 30px;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: -10px;
    border-right:1px solid rgba(20,20,20,.4);

    img{
      margin-top:10px;
      width:30px;
      height:30px;
    }

  }

}

.button.disabled{
  .verticalGradient(
    darken(#79796A, 15%),
    darken(#313140, 15%)
  );
  color:fade(@fontColor, 35%);

  img{
    opacity: .5;
  }

}

.button:hover{
  .verticalGradient(
    lighten(#79796A, 5%),
    lighten(#313140, 5%)
  );
}

.button.disabled:hover{
  .verticalGradient(
    darken(#79796A, 15%),
    darken(#313140, 15%)
  );
  cursor: not-allowed;
}

.button:focus{
  outline:0;
  .boxShadow( inset 0 0 5px rgba(200,200,200,.8) );
  .transition(.075s);
}

.button.disabled:focus{
  outline: 0;
  .boxShadow( inset 0 0 5px rgba(20,20,20,.1) );
}

.button:active{
  .verticalGradient(#313140-#111, #79796A-#111);
}

.button.disabled:active{
  .verticalGradient(
    darken(#79796A, 15%),
    darken(#313140, 15%)
  );
}