@import '../utils/reset.less';

//Requires theme.less, vertical-gradient.less, border-radius.less, box-shadow.less, button.less
@import 'theme.less';
@import '../utils/vertical-gradient';
@import '../utils/border-radius.less';
@import '../utils/box-shadow.less';
@import '../ui/button.less';

.dialog{
  .verticalGradient(#fff, #DFE5E9);
  .borderRadius(5px);
  .boxShadow(0 0 5px #20202F);
  max-width:320px;
  display:block;
  margin:20px auto;

  .title{
    font-size:1.7em;
    text-align:center;
    padding:20px 0;
    color:#575748;
  }

  .seperator{
    .verticalGradient(#313140, #79796A);
    .boxShadow( inset 0 0 3px rgba(0, 0, 0, 0.95) );
    opacity:.75;
    width:100%;
    height:10px;
    border:0 solid #575748;
  }

  .content{
    padding:20px;
  }

}