html {
  overflow-y: scroll;
}
img,
embed,
object,
video {
  max-width: 100%;
}
body {
  color: #222;
  font-family: 'Proxima Nova Rg', 'Myriad Pro' 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
  background: url(../../img/background.jpg);
}
