<!DOCTYPE HTML>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <title>Titlebar Component</title>
    <link rel="stylesheet" type="text/css" href="titlebar.css" media="all">
</head>
<body>
    <div class="container">
        <nav>
            <menu>
                Menu
                <ul class="dropdown">
                    <li>Bitch</li>
                    <li>I</li>
                    <hr>
                    <li>Fucking</li>
                    <li>Love</li>
                    <li>Pancakes</li>
                </ul>
            </menu>
            <div class="title">
                <img src="../../img/title.png" width="178" height="24"/>
            </div>
            <div class="ego">billclinton</div>
        </nav>
    </div>
</body>
</html>