@import '../utils/reset.less';

//Requires theme.less, vertical-gradient.less, border-radius.less, box-shadow.less, button.less
@import 'theme.less';
@import '../utils/vertical-gradient';
@import '../utils/border-radius.less';
@import '../utils/box-shadow.less';
@import '../utils/transition.less';

nav{
  .verticalGradient(#fff, #DFE5E9);
  .boxShadow( 0 0 4px #79796A );
  text-align: center;

  menu{
    .transition(.4s);
    display:inline-block;
    float:left;
    line-height:50px;
    border-right:1px solid rgba(20,20,20,.4);
    padding:0 10px;
    cursor:pointer;
    width:50px;

    &:hover{
      width:200px;
    }

    ul{
      opacity: 0;
      display: none;
      text-align: left;

      li{
        .transition(.2s);
        padding:0 10px;

        &:hover{
          background: #79796A;
          color:#fff;
        }

        &:active{
          .verticalGradient( #313140, #79796A);
        }

      }

      :last-child{
        .borderRadius(0 0 6px 6px);
      }

    }

    &:hover .dropdown{
      .boxShadow(inset 0 0 4px #79796A );
      .verticalGradient(#DFE5E9, #fff);
      .borderRadius(0 0 6px 6px);
      height:100%;
      opacity: 1;
      display: block!important;
      margin:0;
    }

  }

  .title{
    cursor: pointer;
    width:178px;
    height:24px;
    padding: 13px;
    display: inline-block;
  }

  .ego{
    border-left:1px solid rgba(20,20,20,.4);
    float: right;
    display: inline-block;
    line-height:50px;
    padding: 0 10px;
    cursor: pointer;
  }

}