article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: 700;
}
mark {
  background: rgba(255, 255, 0, 0.6);
  color: #111111;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
menu {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
html {
  overflow-y: scroll;
}
img,
embed,
object,
video {
  max-width: 100%;
}
body {
  color: #222;
  font-family: 'Proxima Nova Rg', 'Myriad Pro' 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
  background: url(../../img/background.jpg);
}
nav {
  background-color: #eff2f4;
  background-image: -moz-linear-gradient(#ffffff, #dfe5e9);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #ffffff), color-stop(1, #dfe5e9));
  background-image: -webkit-linear-gradient(-90deg, #ffffff 0%, #dfe5e9 100%);
  background-image: -o-linear-gradient(-90deg, #ffffff 0%, #dfe5e9 100%);
  background-image: -ms-linear-gradient(-90deg, #ffffff 0%, #dfe5e9 100%);
  background-image: linear-gradient(to bottom, #ffffff, #dfe5e9);
  -webkit-box-shadow: 0 0 4px #79796a;
  -moz-box-shadow: 0 0 4px #79796a;
  -ms-box-shadow: 0 0 4px #79796a;
  -o-box-shadow: 0 0 4px #79796a;
  box-shadow: 0 0 4px #79796a;
  text-align: center;
}
nav menu {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
  float: left;
  line-height: 50px;
  border-right: 1px solid rgba(20, 20, 20, 0.4);
  padding: 0 10px;
  cursor: pointer;
  width: 50px;
}
nav menu:hover {
  width: 200px;
}
nav menu ul {
  opacity: 0;
  display: none;
  text-align: left;
}
nav menu ul li {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0 10px;
}
nav menu ul li:hover {
  background: #79796A;
  color: #fff;
}
nav menu ul li:active {
  background-color: #555555;
  background-image: -moz-linear-gradient(#313140, #79796a);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #313140), color-stop(1, #79796a));
  background-image: -webkit-linear-gradient(-90deg, #313140 0%, #79796a 100%);
  background-image: -o-linear-gradient(-90deg, #313140 0%, #79796a 100%);
  background-image: -ms-linear-gradient(-90deg, #313140 0%, #79796a 100%);
  background-image: linear-gradient(to bottom, #313140, #79796a);
}
nav menu ul :last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
nav menu:hover .dropdown {
  -webkit-box-shadow: inset 0 0 4px #79796a;
  -moz-box-shadow: inset 0 0 4px #79796a;
  -ms-box-shadow: inset 0 0 4px #79796a;
  -o-box-shadow: inset 0 0 4px #79796a;
  box-shadow: inset 0 0 4px #79796a;
  background-color: #eff2f4;
  background-image: -moz-linear-gradient(#dfe5e9, #ffffff);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #dfe5e9), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(-90deg, #dfe5e9 0%, #ffffff 100%);
  background-image: -o-linear-gradient(-90deg, #dfe5e9 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(-90deg, #dfe5e9 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #dfe5e9, #ffffff);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  height: 100%;
  opacity: 1;
  display: block!important;
  margin: 0;
}
nav .title {
  cursor: pointer;
  width: 178px;
  height: 24px;
  padding: 13px;
  display: inline-block;
}
nav .ego {
  border-left: 1px solid rgba(20, 20, 20, 0.4);
  float: right;
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
}
